.sidebar {
    padding-left: 2rem;
    position: relative;

    & .heading-secondary {
        padding: 1rem;
    }

    &__category {
    
        &--none {
            // margin: 2rem auto;
            position: absolute;
            top: 3.6rem;
            right: 2rem;
        }

        &--single {
            padding: 1rem 0;
        }
        
    }
}