.assignments {
    text-align: center;
    
    &__item {
        background-color: $color-grey-light-2;
        margin: 5rem;
        padding: 2rem;
        border-radius: .5rem;
        display: block;

        &:nth-of-type(1) {
            margin-top: 1rem;
        }
    }
    
    &__list {
        display: flex;
        justify-content: space-between;

        &--item {
            display: inline-block;
            list-style: none;
        }
    }

    &__link, &__link a, &__btn--link {
        &,
        &:link,
        &:visited {
            color: $color-link-blue;
            // transition: border-bottom .2s;
            text-decoration: none;
            border-style: none;
            background-color: transparent;
            font-size: $default-font-size;
            font-family: inherit;
            cursor: pointer;
        }

        &:hover, 
        &:active,
        &:focus {
            // border-bottom: 1px solid $color-link-blue;
            text-decoration: none;
            outline: none;
        }
    }

    &__results {
        text-align: center;
    }
}