// Colours

$color-primary: #c0392b;
$color-primary-dark: darken($color-primary, 10%);
$color-primary-light: lighten($color-primary, 10%);

$color-primary-extra-dark: darken($color-primary, 11%);
$color-primary-extra-light: lighten($color-primary, 15%);

$color-secondary: #2ecc71;
$color-secondary-dark: darken($color-secondary, 10%);
$color-secondary-light: lighten($color-secondary, 10%);

$color-tertiary: #2980b9;
$color-tertiary-dark: darken($color-tertiary, 10%);
$color-tertiary-light: lighten($color-tertiary, 10%);

$color-link-blue: rgb(0, 26, 255);
$color-red: #f00;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ccc;
$color-grey-light-4: #eee;  
$color-grey-light-5: #fefefe;  

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// Grid

$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 3rem;

// Font 
$default-font-size: 1.6rem;
$default-font-family: 'Open Sans';
$default-font-color: #111;